.page {
    width: 100%;
    margin: 1%;
    border: none;

    display: flex;
    flex-direction: column;
    align-content: space-between;
}

iframe {
    height: 100%;
    border: none;
}

.pageIndicator {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1%;
    width: 100%;

    h3 {
        width: 100%;
        text-align: center;
    }
}


.arrow {
    padding: 0;
    margin: 0;
}
